/*------------------------------------------------------------------------------
    MAIN  STYLES
------------------------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../../static/img/alc.jpg');
    background-size: cover;

}

html {
    height: 100%;
    box-sizing: border-box;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    padding-top:50px;
    display: block;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}


#text {
    color: black;
}


label {
    margin-left: 30px;
    font-weight: normal;
    color: white;
    font-size: 12px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.row-map h2 {
    color: #FFCB9A;
    font-size: 20px;
    margin: 5px;
}

.plain-element {
    margin:0px;
    padding: 0px;
}

.warning {
    color: red;
}

.text-center {
    text-align: center;
}


.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

#error {
    color: red;
    display:none;
}

.img-map {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/

.dashboard-cards {
width:80%;
margin: auto;

}

.wine-card {
width:85%;
margin: auto;
}

.form-card {
width:85%;
margin: auto;
}


/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/
.jumbotron {
padding:0 0 0 0 ;
width: 80px;
margin:10 10 10 10;

}


/*------------------------------------------------------------------------------
    LOGO
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #040809;
}

.page-footer {
  background-color: black;
  padding-left: 5%;
  position: center;
  bottom: 0;
  width: 100%;

}

.row-footer a {
  margin-right: 10px !important;
  color: #fef6d2;
}
/*------------------------------------------------------------------------------
    EDIT & ADD FORMS
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/



/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1600px) {
        .row-cards {
       width: 100%;
    }
}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:992px) {
        #algorithm_results {
        width: 90%;
    }

    .row-map {
        width: 100%;
    }
    .dashboard-card {
        width: 90%;
        margin: auto;
    }

}



/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {


    .dashboard-card {
        width: 90%;
        margin: auto;
    }


}

