/*
 =========================================================
 * MAIN STYLES
 =========================================================*/



body {
  background-image: url("../img/brown.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center ;
  
   
}



#main_page_body {
    background-image: url("../img/alc.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center ;

}

a {
  color: #fef6d2;
}


.plain-element {
  margin: 0px !important;
  padding: 0px !important;
}

/*
 =========================================================
 * NAVBAR
 =========================================================*/

nav {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.nav-wrapper {


}

nav ul li {


}











/*
 =========================================================
 * SIDE  BARS
 =========================================================*/


.sidebar {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: black;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {

    color: #fec85e;

}


.sidebar[data-background-color="black"] .simple-text {
   
    font-family: 'Charm', cursive;
    font-size: 30px;
    color: #fef6d2;
}


.sidebar[data-background-color="black"] .simple-text {
  color: #fef6d2;
}


.background-sidewrapper {
  color:#461901;
}

/* NAV BAR*/

.btn.btn-white,
.btn.btn-white:focus,
.btn.btn-white:hover {
  background-color: #fec85e;
  color: #999999;
}




.btn.btn-just-icon {

    margin-top: 7px;
    font-size: 24px;
    height: 25px;
    min-width: 25px;
    width: 20px;
    padding: 7;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    background-color: transparent;
     box-shadow: none;


}

.btn.btn-fab .material-icons,
.btn.btn-fab .fa,
.btn.btn-just-icon .material-icons,
.btn.btn-just-icon .fa {
  margin-top: 0;
  position: absolute;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 30px;
  font-size: 20px;
   color:  #fec85e;
   box-shadow: none;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
  margin-top:10px;
  margin-left: 5px;
  color:  #fef6d2;
}


/*
 =========================================================
 * CARDS
 =========================================================*/


.card {
  margin:10px 10px 10px 10px;
}

.wine_card {
  width:80%;
  margin-bottom: 10%;

}

.wine_card:hover {
  box-shadow: 0 0 5px #fef6d2, 0 0 8px #fec85e;
}

.card-text {
  font-size: 14px;
  color:#bd3c48;


}

.card-body {
  background-color: #faeed9;
  min-height: 140px;
}

.card-title {
font-family: 'Charm', cursive;
text-align: center;
color:#bd3c48; 
font-weight: 400;
 }



/*
=========================================================
* Middle Section
=========================================================*/




.maincard {background-color: transparent;
  margin-top: 40px;
  margin-left: 40px;
  height: 100px;
  width: 300px;
  text-align: center;
  border: transparent;
  }

.maincard h4 { 
    font-family: 'Charm', cursive;
    font-size: 24px;
    color: #fef6d2; 
}

/*
=========================================================
* FOOTER
=========================================================*/



.page-footer {
  background-color: black;
  padding-left: 5%;

}

.row-footer a {
  margin-right: 10px !important;
  color: #fef6d2;
}

.footer-text {

}



/*
=========================================================
* FOOD Recipes
=========================================================*/

.card .horizontal {
  margin:15px 15px 15px 15px;


}

.card {
 
 background-image: url("../img/brown.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center ;
    max-width: 400px;
    color: orange;

}
.card-content  {
  color: orange;
  padding: none;

  
}
.cardname{
color: brown;

}

.card-action {
  background-image: url("../img/brown.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;

}

.card-stacked .card-content {
  color: #ffab40;
  height: 250px;

}

.card-image {

  height:100%;
  width: 
}

.col-lg-6 .header {
  color: #ffab40;
  text-align: center;
  font-weight: 15px;
}

.ingredients {
  list-style-type: circle;
  line-height: 1;
  }





/*
=========================================================
* ABOUT ME
=========================================================*/


#main_page_body_aboutme {
   background-image: url("../img/chopping2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center ;

}

.aboutmecontent  {

margin: 30%;
text-align: center;
font-size: 200%;
color:#dedcd9;
font-family: 'Charm', cursive;

}

.smallcontent {
font-size: 100%;
margin: 30% 0% 0% 0%;
text-align: end;
color:#dedcd9;
font-family: 'Charm', cursive;
}