{% extends 'base.html' %}


{% block content %}


<div class="container theme-showcase" role="main">
    <div class="jumbotron">

        {{ users }}
    </div>
    <div class="dashboard-cards">


        <div class="row row-winecards">
            <!--            For every record I receive from database -->
            {% for element in listing %}
            <!--            Create separate card -->
            <div class="col-md-6 col-lg-4">
                <div class="card wine-card">
                    <ul>
                        <!--  EDIT 1. To find correct card using element.ID from Database (Primary key) -->
                        <li><a class="btn-floating btn-medium button-edit"
                               href="{{ url_for('wines_blueprint.edit', wine_id=element.id) }}"><i class="material-icons ">edit</i></a>
                        </li>
                        <li><a class="btn-floating btn-medium button-delete"
                               href="{{ url_for('wines_blueprint.delete',wine_id=element.id)}}"><i class="material-icons right">delete_forever</i></a>
                        </li>
                        <div class="card-image">

                            <img src="{{element.img_url}}">
                            <!-- {{element.image}}-->
                        </div>
                        <div class="card-content">
                            <!--                        Give it a name corresponding to database record -->
                            <h4 class="card-title">{{ element.name }}</h4>

                            <!--                        Give it a description corresponding to database record -->
                            <p> {{ element.description}} </p>
                        </div>
                    </ul>
                </div>
            </div>
            <!--            Always close the loop otherwise there will be an error-->
            {% endfor %}

            <!--    END CARD3    -->
        </div>
    </div>
</div>
{% endblock %}