{% extends 'base.html' %}


{% block content %}


<div class="container theme-showcase" role="main">
    <div class="jumbotron">


    </div>
    <div class="dashboard-cards">


        <div class="row row-winecards">
<!--            For every record I receive from database -->
            {% for element in listing %}
<!--            Create separate card -->
            <div class="col-md-6 col-lg-4">
                <div class="card wine-card">
                    <a class="btn-floating btn-medium button-delete" href="{{ url_for('delete',wine_id=element.id)}}"><i class="material-icons right">delete_forever</i></a>
                    <div class="card-image">

                        <img src="{{url_for('static', filename='img/pinotnoir.jpg')}}">
                            <!-- {{element.image}}-->
                    </div>
                    <div class="card-content">
<!--                        Give it a name corresponding to database record -->
                        <h4 class="card-title">{{ element.name }}</h4>

<!--                        Give it a description corresponding to database record -->
                        <p> {{ element.description}} </p>
                    </div>

                </div>
            </div>
<!--            Always close the loop otherwise there will be an error-->
            {% endfor %}

            <!--    END CARD3    -->
        </div>
    </div>
</div>
    {% endblock %}